### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
server/terraform/.tmp/*
!server/terraform/.tmp/.gitkeep
server/terraform/modules/aws-lambda/.tmp/*
!server/terraform/modules/aws-lambda/.tmp/.gitkeep